version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
        mydbcurl
  mydb:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw